.contenedor{
    position: flex;
    display: flex;
    text-align: center;
}

.container-info{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: static;
}

.bubbly-button{
    position: absolute;
    top: 450px;
    margin-left: -150px;    
    display: block;
    margin-top: -150px;
}

.container-credencial{
    display: flex;
    height: 350px;
    height: 650px;
}

.container-infantil{
    display: flex;
    height: 350px;
    height: 650px;
}

.container-titulo{
    display: flex;
    height: 350px;
    height: 650px;
}

.container-diploma{
    display: flex;
    height: 350px;
    height: 650px;
}

.container-grupal{
    display: flex;
    height: 25px;
    height: 25px;
}



.container-text{
    position: absolute;
    margin-left: 950px;
    top: 950px;
    margin-right: 150px;
}

.button-chido{
    position: relative;
    top: 350px;
    margin-left: 450px;    
    display: block;
    margin-top: -150px;
}

.container-text2{
    position: absolute;
    margin-left: 950px;
    top: 815px;
    margin-right: 150px;
}
/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }


}

@media screen and (max-width: 1020px){

    .container-content{
        width: 100%;
        flex-direction: column;
    }

    .container-info-cover h1{
      font-size: 50px;
    }

    article{
        box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }

    
    .header-content{
        max-width: 1020px;
        padding: 0 20px;
    }

    .container-text2{
        font-size: 20px;
        align-items: center;
        display: flex;
        margin-top: -115px;
        flex-direction: column;
        margin-right: 50px;
        margin-left: 75px;
        justify-content: center;
    }

    .button-chido{
        margin-left: 95px;
        display: block;
        margin-right: -15px;
        margin-top: 45px;
    }
    .container-text{
        margin-top: -25px;
        margin-left: -800px;
        margin-right: -800px;
        font-size: small;
    
    }
    
    .container-footer{
        margin-top: 375px;

    }

    .container-credencial{
        display: relative;
        width: 250px;
        height: 250px;
        margin-right: 250px;
        height: 350px;
        margin-right: -950px;
        margin-left: -55px;
    }
    
    .container-infantil{
        display: relative;
        width: 150px;
        height: 350px;
        margin-right: -950px;
        margin-left: -55px;
        margin-top: 65px;
    }

    .container-titulo{
        display: relative;
        width: 150px;
        height: 350px;
        margin-right: -950px;
        margin-left: -55px;
        margin-top: 65px;
    }

    .container-diploma{
        display: relative;
        width: 150px;
        height: 350px;
        margin-right: -950px;
        margin-left: -55px;
        margin-top: 65px;
    }

    .container-grupal{
        display: flex;
        margin-right: -950px;
        margin-left: -55px;
        margin-top: 65px;
    }
}


@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .header-content{
        max-width: 800px;
        padding: 0 20px;
    }
    .container-img{
        width: 250px;
        height: 350px;
    }
    .container-text2{
        font-size: 20px;
        align-items: center;
        display: flex;
        margin-top: -115px;
        flex-direction: column;
        margin-right: 50px;
        margin-left: 45px;
        justify-content: center;
    }

    .button-chido{
        margin-left: -125px;
        display: block;
        margin-right: -15px;
        margin-top: 45px;
    }
    .container-text{
        margin-top: -25px;
        margin-left: -675px;
        margin-right: -675px;
        font-size: small;
    
    }
    
    .container-footer{
        margin-top: 375px;

    }
    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .container-info-cover h1{
      font-size: 40px;
    }

    .move-container-all{
        transform: translateX(300px);
    }
    .container-infantil{
        display: relative;
        margin-right: -950px;
        margin-left: -55px;
        margin-top: 65px;
    }
  
    .container-credencial{
        display: relative;
        margin-right: -950px;
        margin-left: -55px;
        margin-top: 65px;
    }

    

    .container-text{
        position: flex;
        margin-left: 50px;
        top: 1200px;
        margin-right: -15px;
        justify-content: center;
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #ffff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: #535353;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #ffc56c;
    }

    #icon-menu{
        display: flex;
    }

    .container-aside{
        flex-wrap: wrap;
    }

}
