
h2 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: right;
  text-transform: uppercase;
}

img {
  border-radius: 150px;
  width: 500px;
}

h3{
  
  font-family: monospace;

}


